<a href="https://colab.research.google.com/github/asaikiran1999/books-recommender/blob/main/BooksRecommendationSystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**BOOKS RECOMMENDATION SYSTEM**

**TYPES OF RECOMENDATION SYSTEMS**

**1.Popularity based recommendation system :** In this type of recommendation system we recommend items based its popularity under a specific formula running behind.

**2.Content based recommendation system :** In  this type of recommendation system we recommend items based on common attributes of content.

**3.Collaborative filtering based system :** In this type of recommendation system we recommend items based on common distribution under a batch of users. 

**4.Hybrid Recommendation System :** This is mixture of two or more rcommendation systems working at a time.

#**Exploratory Data Analysis**

**1.loading the data in dataframes**

In [ ]:
import pandas as pd 
books1 = pd.read_csv("https://raw.githubusercontent.com/asaikiran1999/books-recommender/main/data/books1.csv")
books2 = pd.read_csv("https://raw.githubusercontent.com/asaikiran1999/books-recommender/main/data/books2.csv")
books3 = pd.read_csv("https://raw.githubusercontent.com/asaikiran1999/books-recommender/main/data/books3.csv")
books4 = pd.read_csv("https://raw.githubusercontent.com/asaikiran1999/books-recommender/main/data/books4.csv")
books1=books1.append(books2)
books1=books1.append(books3)
books1=books1.append(books4)
books = books1.copy()
books.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [ ]:
users= pd.read_csv("https://raw.githubusercontent.com/asaikiran1999/books-recommender/main/data/Users.csv")
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [ ]:
ratings = pd.read_csv("https://raw.githubusercontent.com/asaikiran1999/books-recommender/main/data/Ratings.csv")
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

**2.Checking the shape of the date frames**

In [ ]:
print('Shape of the books dataframe',books.shape )
print('Shape of the users dataframe',users.shape )
print('Shape of the ratings dataframe',ratings.shape )

Shape of the books dataframe (271360, 9)
Shape of the users dataframe (278858, 3)
Shape of the ratings dataframe (1149780, 3)

**3.Checking the null values in dataframes**

In [ ]:
print("books\n",books.isnull().sum())

books
 Unnamed: 0             0
ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [ ]:
print("users\n",users.isnull().sum())

users
 User-ID          0
Location         0
Age         110762
dtype: int64

In [ ]:
print('ratings\n',ratings.isnull().sum())

ratings
 User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

#**POPULARITY based recommendation system**

**1. Merging the books and rating dataframes**

In [ ]:
ratings_and_books = ratings.merge(books,on='ISBN')
ratings_and_books.head()

,User-ID,ISBN,Book-Rating,Unnamed: 0,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,2966,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,2966,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,2966,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,2966,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,2966,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

**2.Groupby book-title and count the number of book rattings**

In [ ]:
x=ratings_and_books.groupby("Book-Title").count()['Book-Rating']
x.head()

Book-Title
 A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)    4
 Always Have Popsicles                                                                                        1
 Apple Magic (The Collector's series)                                                                         1
 Ask Lily (Young Women of Faith: Lily Series, Book 5)                                                         1
 Beyond IBM: Leadership Marketing and Finance for the 1990s                                                   1
Name: Book-Rating, dtype: int64

**3.creating a seperate dataframe with books title and books rating count**

In [ ]:
x=x.reset_index()
x.rename(columns = {'Book-Rating':'ratings-Count'},inplace=True)
x.head()

                                          Book-Title  ratings-Count
0   A Light in the Storm: The Civil War Diary of ...              4
1                              Always Have Popsicles              1
2               Apple Magic (The Collector's series)              1
3   Ask Lily (Young Women of Faith: Lily Series, ...              1
4   Beyond IBM: Leadership Marketing and Finance ...              1

In [ ]:
Ratings_count = x
Ratings_count.head()

                                          Book-Title  ratings-Count
0   A Light in the Storm: The Civil War Diary of ...              4
1                              Always Have Popsicles              1
2               Apple Magic (The Collector's series)              1
3   Ask Lily (Young Women of Faith: Lily Series, ...              1
4   Beyond IBM: Leadership Marketing and Finance ...              1

**5.following the same above steps we createw a dataframe which shows average rating of particulatar book**

In [ ]:
x=ratings_and_books.groupby("Book-Title").mean()['Book-Rating'].reset_index()
x.rename(columns = {'Book-Rating':'average rating'},inplace=True)
Ratings_average=x
Ratings_average.head()

                                          Book-Title  average rating
0   A Light in the Storm: The Civil War Diary of ...            2.25
1                              Always Have Popsicles            0.00
2               Apple Magic (The Collector's series)            0.00
3   Ask Lily (Young Women of Faith: Lily Series, ...            8.00
4   Beyond IBM: Leadership Marketing and Finance ...            0.00

**6.merging the ratings_count and ratings _average dataframes into single dataframe**

In [ ]:
popular_recommend = Ratings_count.merge(Ratings_average ,on="Book-Title")
popular_recommend.head()

,Book-Title,ratings-Count,average rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.25
1,Always Have Popsicles,1,0.00
2,Apple Magic (The Collector's series),1,0.00
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.00
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.00

**7.filtering and sorting the dataset**

In [ ]:
popular_recommend = popular_recommend[popular_recommend['ratings-Count']>250].sort_values('average rating',ascending=False).head(50).reset_index()
popular_recommend.head()

,index,Book-Title,ratings-Count,average rating
0,80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
1,80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
2,80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
3,80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
4,80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453

**8.merging the popular_recommend with Books dataframe**

In [ ]:
x = popular_recommend.merge(books , on="Book-Title")
x.head()

,index,Book-Title,ratings-Count,average rating,Unnamed: 0,ISBN,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,3839,0439136350,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...
1,80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,6330,0439136369,J. K. Rowling,2001,Scholastic,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...
2,80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,85245,0786222743,J. K. Rowling,2000,Thorndike Press,http://images.amazon.com/images/P/0786222743.0...,http://images.amazon.com/images/P/0786222743.0...,http://images.amazon.com/images/P/0786222743.0...
3,80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289,5431,0439139597,J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...
4,80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289,6932,0439139600,J. K. Rowling,2002,Scholastic Paperbacks,http://images.amazon.com/images/P/0439139600.0...,http://images.amazon.com/images/P/0439139600.0...,http://images.amazon.com/images/P/0439139600.0...

**9.drop duplicates columns in merged dataframe**

In [ ]:
x = x.drop_duplicates('Book-Title')
x.shape

(50, 12)

**10. Reindexing and showing the showing final top50 books**

In [ ]:
x=x[["Book-Title","ratings-Count","average rating","Book-Author","Image-URL-M"]].reset_index()
top50 = x
top50

,index,Book-Title,ratings-Count,average rating,Book-Author,Image-URL-M
0,0,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...
1,3,Harry Potter and the Goblet of Fire (Book 4),387,5.824289,J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...
2,5,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410,J. K. Rowling,http://images.amazon.com/images/P/0590353403.0...
3,9,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...
4,13,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453,J. K. Rowling,http://images.amazon.com/images/P/0439064872.0...
5,16,The Hobbit : The Enchanting Prelude to The Lor...,281,5.007117,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339681.0...
6,17,The Fellowship of the Ring (The Lord of the Ri...,368,4.948370,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339703.0...
7,26,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652,J. K. Rowling,http://images.amazon.com/images/P/059035342X.0...
8,28,"The Two Towers (The Lord of the Rings, Part 2)",260,4.880769,J.R.R. TOLKIEN,http://images.amazon.com/images/P/0345339711.0...
9,39,To Kill a Mockingbird,510,4.700000,Harper Lee,http://images.amazon.com/images/P/0446310786.0...
10,47,The Da Vinci Code,898,4.642539,Dan Brown,http://images.amazon.com/images/P/0385504209.0...
11,53,The Five People You Meet in Heaven,430,4.551163,Mitch Albom,http://images.amazon.com/images/P/0786868716.0...
12,55,The Catcher in the Rye,449,4.545657,J.D. Salinger,http://images.amazon.com/images/P/0316769487.0...
13,62,The Lovely Bones: A Novel,1295,4.468726,Alice Sebold,http://images.amazon.com/images/P/0316666343.0...
14,63,1984,284,4.454225,George Orwell,http://images.amazon.com/images/P/0451524934.0...
15,72,Prodigal Summer: A Novel,253,4.450593,Barbara Kingsolver,http://images.amazon.com/images/P/0060959037.0...
16,73,Neverwhere,265,4.449057,Neil Gaiman,http://images.amazon.com/images/P/0380789019.0...
17,78,The Secret Life of Bees,774,4.447028,Sue Monk Kidd,http://images.amazon.com/images/P/0142001740.0...
18,84,Stupid White Men ...and Other Sorry Excuses fo...,283,4.356890,Michael Moore,http://images.amazon.com/images/P/0060392452.0...
19,85,"Tuesdays with Morrie: An Old Man, a Young Man,...",493,4.354970,MITCH ALBOM,http://images.amazon.com/images/P/0385484518.0...
20,88,The Red Tent (Bestselling Backlist),723,4.334716,Anita Diamant,http://images.amazon.com/images/P/0312195516.0...
21,89,The Hitchhiker's Guide to the Galaxy,268,4.328358,Douglas Adams,http://images.amazon.com/images/P/0671461494.0...
22,98,Nickel and Dimed: On (Not) Getting By in America,335,4.289552,Barbara Ehrenreich,http://images.amazon.com/images/P/0805063897.0...
23,100,Into the Wild,252,4.273810,Jon Krakauer,http://images.amazon.com/images/P/0385486804.0...
24,103,Fahrenheit 451,409,4.264059,Ray Bradbury,http://images.amazon.com/images/P/3257208626.0...
25,116,Girl with a Pearl Earring,526,4.218631,Tracy Chevalier,http://images.amazon.com/images/P/0452282152.0...
26,117,Outlander,283,4.173145,DIANA GABALDON,http://images.amazon.com/images/P/0440222915.0...
27,123,Where the Heart Is (Oprah's Book Club (Paperba...,585,4.105983,Billie Letts,http://images.amazon.com/images/P/0446672211.0...
28,124,Seabiscuit: An American Legend,275,4.098182,LAURA HILLENBRAND,http://images.amazon.com/images/P/0449005615.0...
29,126,Life of Pi,664,4.088855,Yann Martel,http://images.amazon.com/images/P/0151008116.0...
30,130,The Bean Trees,389,4.087404,Barbara Kingsolver,http://images.amazon.com/images/P/0060915544.0...
31,133,"A Child Called \It\"": One Child's Courage to S...",265,4.086792,Dave Pelzer,http://images.amazon.com/images/P/1558743669.0...
32,135,ANGELA'S ASHES,279,4.075269,Frank McCourt,http://images.amazon.com/images/P/0684874350.0...
33,137,Good in Bed,490,4.055102,Jennifer Weiner,http://images.amazon.com/images/P/0743418174.0...
34,139,Fast Food Nation: The Dark Side of the All-Ame...,321,4.037383,Eric Schlosser,http://images.amazon.com/images/P/0060938455.0...
35,140,American Gods,302,4.006623,Neil Gaiman,http://images.amazon.com/images/P/0380789035.0...
36,141,Skipping Christmas,322,4.006211,JOHN GRISHAM,http://images.amazon.com/images/P/0385505833.0...
37,147,Left Behind: A Novel of the Earth's Last Days ...,318,4.003145,Tim Lahaye,http://images.amazon.com/images/P/0842329129.0...
38,149,"The Golden Compass (His Dark Materials, Book 1)",336,4.000000,PHILIP PULLMAN,http://images.amazon.com/images/P/037582345X.0...
39,157,The Color Purple,314,3.964968,Alice Walker,http://images.amazon.com/images/P/0671617028.0...
40,163,Silence of the Lambs,256,3.960938,Thomas Harris,http://images.amazon.com/images/P/0312924585.0...
41,166,About a Boy,262,3.900763,Nick Hornby,http://images.amazon.com/images/P/1573227331.0...
42,173,Seven Up (A Stephanie Plum Novel),278,3.888489,Janet Evanovich,http://images.amazon.com/images/P/0312265840.0...
43,175,The Alchemist: A Fable About Following Your Dream,266,3.875940,Paulo Coelho,http://images.amazon.com/images/P/0062502174.0...
44,177,Hard Eight : A Stephanie Plum Novel (A Stephan...,269,3.825279,Janet Evanovich,http://images.amazon.com/images/P/0312983867.0...
45,182,Suzanne's Diary for Nicholas,457,3.820569,James Patterson,http://images.amazon.com/images/P/0316969443.0...
46,186,Lord of the Flies,259,3.818533,William Gerald Golding,http://images.amazon.com/images/P/0399501487.0...
47,192,A Prayer for Owen Meany,413,3.796610,John Irving,http://images.amazon.com/images/P/0345361792.0...
48,194,"The Vampire Lestat (Vampire Chronicles, Book II)",301,3.777409,ANNE RICE,http://images.amazon.com/images/P/0345313860.0...
49,195,White Oleander : A Novel (Oprah's Book Club),356,3.772472,Janet Fitch,http://images.amazon.com/images/P/0316284955.0...

#**COLLABORATIVE FILTERING based recommendation system**

**1.to groupby the top book ratting users**

In [ ]:
x=ratings_and_books.groupby('User-ID').count()['Book-Rating']>200
best_users=x[x].index
best_users.shape

(811,)

**2.creating a new dataframe for top rating book users**

In [ ]:
filtered_ratings =ratings_and_books[ratings_and_books['User-ID'].isin(best_users)]

**3.to groupby the top famous books**

In [ ]:
y=filtered_ratings.groupby('Book-Title').count()['Book-Rating']>=50
famous_books=y[y].index
famous_books

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short', 'A Fine Balance',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=706)

**4.top famous books filter**

In [ ]:
filtered_famous = filtered_ratings[filtered_ratings['Book-Title'].isin(famous_books)]
filtered_famous

,User-ID,ISBN,Book-Rating,Unnamed: 0,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
63,278418,0446520802,0,11053,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
65,3363,0446520802,0,11053,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
66,7158,0446520802,10,11053,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
69,11676,0446520802,10,11053,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
74,23768,0446520802,6,11053,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
...,...,...,...,...,...,...,...,...,...,...,...
1026724,266865,0531001725,10,90621,The Catcher in the Rye,Jerome David Salinger,1973,Scholastic Library Pub,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...
1027923,269566,0670809381,0,94665,Echoes,Maeve Binchy,1986,Penguin USA,http://images.amazon.com/images/P/0670809381.0...,http://images.amazon.com/images/P/0670809381.0...,http://images.amazon.com/images/P/0670809381.0...
1028777,271284,0440910927,0,76067,The Rainmaker,John Grisham,1995,Island,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...
1029070,271705,B0001PIOX4,0,98448,Fahrenheit 451,Ray Bradbury,1993,Simon &amp; Schuster,http://images.amazon.com/images/P/B0001PIOX4.0...,http://images.amazon.com/images/P/B0001PIOX4.0...,http://images.amazon.com/images/P/B0001PIOX4.0...
1030868,275970,1586210661,9,54389,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...

**5.constructing a pivot for the filtered data**

In [ ]:
pivot = filtered_famous.pivot_table(index ='Book-Title',columns='User-ID',values='Book-Rating')
pivot.fillna(0,inplace=True)
pivot

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

**6.calculating the cosine_similarity**

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(pivot)

array([[1.        , 0.10255025, 0.01220856, ..., 0.12110367, 0.07347567,
        0.04316046],
       [0.10255025, 1.        , 0.2364573 , ..., 0.07446129, 0.16773875,
        0.14263397],
       [0.01220856, 0.2364573 , 1.        , ..., 0.04558758, 0.04938579,
        0.10796119],
       ...,
       [0.12110367, 0.07446129, 0.04558758, ..., 1.        , 0.07085128,
        0.0196177 ],
       [0.07347567, 0.16773875, 0.04938579, ..., 0.07085128, 1.        ,
        0.10602962],
       [0.04316046, 0.14263397, 0.10796119, ..., 0.0196177 , 0.10602962,
        1.        ]])

In [ ]:
similarity_scores = cosine_similarity(pivot)

**7.building a book recommendation system**

In [ ]:
import numpy as np
def recommend(book_name):
  index = np.where(pivot.index == book_name)[0][0]
  distances = similarity_scores[index]
  similar_items =sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:6]
  for i in similar_items:
    print(pivot.index[i[0]])

In [ ]:
recommend('A Bend in the Road')

A Walk to Remember
The Last Time They Met : A Novel
Sea Glass: A Novel
Angels
Family Album